@keyframes spinner {
    to {transform: rotate(360deg);}
  }
  
  .loader:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /* border: 2px solid #ccc; */
    border: 10px solid #8bc34a;
    border-top-color: #333;
    animation: spinner .5s linear infinite;
  }
  
  .loader-background{
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
  }
  